@media screen and (min-width: 400px) {
  body {
    background-color:#ffffff;
    margin: 5px;
    max-width: 100%;
    overflow-x: hidden;
   }

   img {
     width: 50%;
     height: auto;
   }
.menu {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-family: "Courier";
}

<style>

	h1 {
  font-style: normal;
  font-size: 45px;
  text-align: left;
  font-family: "Courier";
  color: #9f4f60;
}



	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 80px;
		height: 52px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
	}


	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid grey;
		margin: auto;
		border-radius: 4px;
		font-family: "Courier";

		background-color: #30354e;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}


	#print {
		font-family: "Courier";

		color: #30354e;
		font-size: 20px;
	}


	#main {
		text-align: center;
	}


	#ins {
		font-family: "Courier";

		color: #30354e;
		font-size: 30px;
	}
</style>

h1 {
  font-style: normal;
  font-size: 100%;
  text-align: left;
  font-family: "Courier";
  color: #9f4f60;
}

h2 {
  font-style: normal;
  font-size: 200%;
  text-align: left;
  font-family: "Courier";
  color: #30354e;
}
h3 {
  font-style: normal;
  font-size: 300%;
  text-align: left;
  font-family: "Courier";
  color: #30354e;
}

img {
  width: auto;
  height: 100%;
  display: flex;
}


p {
  color: #6caa8a;
  font-size: 150%;
  font-family: "Courier";
